{{define "base"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Sonic</title>
    <link rel="stylesheet" href="/app.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
      integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx-ext-sse@2.2.4"
      integrity="sha384-A986SAtodyH8eg8x8irJnYUk7i9inVQqYigD6qZ9evobksGNIXfeFvDwLSHcp31N"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
      defer
    ></script>
  </head>
  <body
    class="min-h-screen flex items-center justify-center bg-linear-to-br from-primary/80 to-secondary/80 text-neutral-900"
    hx-ext="sse"
  >
    <main class="aspect-9/16 w-full max-w-1080 overflow-hidden flex flex-col">
      <header class="top flex items-center justify-between">
        <div class="flex flex-row px-6 h-[120px] items-center gap-50">
          <svg class="w-44 text-white">
            <use href="/sprite.svg#circutor"></use>
          </svg>
        </div>
      </header>

      <section id="view" class="flex-1 p-6">
        {{block "content" .}}{{end}}
      </section>

      <div hx-ext="sse" sse-connect="/events">
        <div
          hx-get="/connectors"
          hx-trigger="sse:connectors"
          hx-target="#view"
          hx-swap="innerHTML"
        ></div>
        <div
          hx-get="/identification"
          hx-trigger="sse:identification"
          hx-target="#view"
          hx-swap="innerHTML"
        ></div>
      </div>
    </main>
  </body>
</html>
{{end}}
