{{define "base"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Sonic</title>
    <link rel="stylesheet" href="/app.css" />
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
  </head>
  <body
    class="min-h-screen flex items-center justify-center bg-linear-to-br from-primary/80 to-secondary/80 text-neutral-900"
  >
    <main class="aspect-9/16 w-full max-w-1080 overflow-hidden flex flex-col">
      <header class="top flex items-center justify-between">
        <div class="flex flex-row px-6 h-[120px] items-center gap-50">
          <svg class="w-44 text-white">
            <use href="/sprite.svg#circutor"></use>
          </svg>
        </div>
      </header>
      <section class="flex-1 p-6">{{block "content" .}}{{end}}</section>
    </main>
  </body>
</html>
{{end}}
