{{define "content"}}
<div
  class="block w-[984px] h-[632px] min-h-[632px] mt-[176px] mb-[206px] bg-white/10 rounded-3xl overflow-hidden"
>
  <div class="w-104.75 h-146 my-6 ml-9.5 flex flex-col items-center">
    <div class="h-[42px] mt-6 mb-[110px] text-white font-bold text-4xl">
      {{.Identification.Connector.Status}}
    </div>
    <img
      src="{{.Identification.Connector.Type.IconPath}}"
      alt="connector-icon"
      class="h-[193px] w-auto"
    />
    <div class="h-[41px] mt-0 mb-[21px] text-white text-2xl">
      {{.Identification.Connector.Type}}
    </div>
    <div class="h-[54px] mt-[54px] mb-[99px] text-white font-bold text-4xl">
      {{.Identification.Connector.Name}}
    </div>
  </div>
</div>
{{end}}
