@import "tailwindcss";

@source "../templates/**/*.html";

@theme {
  --color-primary: #e40040;
  --color-secondary: #d37a93;
  --color-primary-white: #ffffff;
  --color-primary-green: rgb(0, 255, 102);
  --color-primary-cyan: rgb(0, 255, 255);
  --color-primary-blue: rgb(0, 41, 255);
  --color-primary-red: rgb(252, 43, 43);
  --color-primary-grey: rgb(51, 51, 51);
}

.btn {
  @apply inline-flex items-center gap-2 rounded-md px-3 py-2 text-sm font-medium border bg-white hover:bg-neutral-50;
}
