{{define "connector"}}
<div
  class="flex flex-col items-center w-110 h-144 rounded-4xl bg-linear-to-br from-white/50 to-white/10"
>
  <div class="h-[54px] mt-[54px] text-white font-bold text-4xl">{{.Name}}</div>
  <div class="h-[39px] mt-0 text-white text-[26px]">{{.Type}}</div>
  <img src="{{.Type.IconPath}}" alt="connector-icon" class="h-[288px] w-auto" />
  <div class="relative w-[344px] h-4 mt-4">
    <div
      class="absolute inset-0 rounded-[56px] blur-md opacity-60 {{.Status.ColorClass}}"
    ></div>
    <div
      class="relative rounded-[56px] w-full h-full opacity-70 {{.Status.ColorClass}}"
    ></div>
  </div>
  <div class="w-[344px] h-[39px] mt-4 text-white text-[20px]">{{.Status}}</div>
</div>
{{end}}
